#contatos{
    height: 100vh;
    width: 80%;
    display: flex;
}

.contatos-dados{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    gap: 2rem;
}

.contatos-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    padding: 5%;
}

.contatos-container a{
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: var(--link-color);
}

.contatos-icone{
    width: 2rem;
    color: var(--link-color);
}

.estilo-botao-esquerda{
    display: flex;
    justify-content: end;
}

.estilo-botao-direita{
    display: flex;
    justify-content: start;
}