#experiencias{
    height: 100vh;
    width: 80%;
    display: flex;
}

.experiencias-dados{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: justify;
}

.experiencias-container {
    display: flex;
    flex-direction: column;
}

.experiencia {
    width: 50%;
    box-sizing: border-box;
    padding: 1rem;
    transition: transform 1.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.experiencia img{
    height: 100px;
}

.experiencia-img{
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10%;
}

.experiencia-direita {
    transform: translateX(100%);
}

.experiencia-esquerda {
    transform: translateX(0);
}

.experiencia:hover {
    transform: translateX(50%);
}
