#home{
    height: 100vh;
    display: flex;
}

.esquerda-home{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 5%;
}

.esquerda-home-skills{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.esquerda-home-skills-tecnologia{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.esquerda-home-skills-tecnologia-icon{
    width: 50px;
    height: 50px;
}

.esquerda-home-skills-tecnologia-nome {
    opacity: 0;
    transition: opacity 0.3s;
    text-align: center;
}

.esquerda-home-skills-tecnologia:hover .esquerda-home-skills-tecnologia-nome {
    opacity: 1;
}

.direita-home{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

.direita-home-imagem{
    width: 350px;
    height: 350px;
}

.esquerda-home a{
    text-decoration: none;
    color: var(--tertiary-color);
    border: 1px solid var(--tertiary-color);
    border-radius: 4rem;
    padding: 1rem;
    font-size: 1rem;
}

.esquerda-home a:hover{
    color: var(--quaternary-color);
    border: 1px solid var(--quaternary-color);
}