#sobre{
    height: 100vh;
    width: 80%;
    display: flex;
}

.esquerda-sobre{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.esquerda-sobre-imagem{
    border-radius: 50%;
    box-shadow: 0 10px 30px var(--tertiary-color);
}

.esquerda-sobre-links{
    display: flex;
    gap: 3rem;
}

.direita-sobre{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.direita-sobre-texto{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.direita-sobre-texto p{
    text-align: justify;
}