@media(max-width: 1000px){
    .esquerda-home-skills{
        flex-wrap: wrap;
    }

    .experiencia {
        width: 100%;
        box-sizing: border-box;
        padding: 1rem;
        transition: transform 1.5s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    
    .experiencia img{
        height: 100px;
    }
    
    .experiencia-direita {
        transform: translateX(0);
    }
    
    .experiencia-esquerda {
        transform: translateX(0);
    }
    
    .experiencia:hover {
        transform: translateX(0);
    }
}

@media(max-width: 900px){
    .projetos-dados{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 1rem;
    }
    .projetos-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    }
}

@media(max-width: 800px){
    .direita-home{
        display: none;
    }
    .esquerda-home{
        width: 100%;
        text-align: center;
    }
    #sobre{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .esquerda-sobre{
        width: 100%;
        
    }
    .direita-sobre{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .contatos-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    section#sobre{
        margin-top: 50px;
    }
    section#experiencias{
        margin-top: 150px;
    }
    section#projetos{
        margin-top: 200px;
    }
    section#contatos{
        margin-top: 250px;
    }
}

@media(max-width: 560px){
    section#experiencias{
        padding-top: 600px;
    }
    section#projetos{
        padding-top: 1000px;
    }
    section#contatos{
        padding:  600px 0 300px 0;
    }
    .experiencia{
        flex-direction: column;
    }
}

@media(max-width: 400px){
    h1{
        font-size: 3em;
    }
    
    h2{
        font-size: 1em;
    }
    
    h3{
        font-size: 0.9em;
    }
    
    p{
        font-size: 1em;
    }
    
    a{
        font-size: 1em;
    }
}