#tema-padrao{
    background-color: var(--tema-padrao);
}

#tema-1{
    background-color: var(--tema-1);
}

#tema-2{
    background-color: var(--tema-2);
}

#tema-3{
    background-color: var(--tema-3);
}

.invisivel {
    display: none;
}